@media (min-width:1536px) and (max-width: 1920px) {
    .menu {
        width: 20%;
    }

    .menuItem {
        padding: 8px;
        gap: 1rem;
    }

    .menuItem__icon {
        font-size: 2rem;
    }

    .menuItem__title {
        font-size: 1.25rem;
        letter-spacing: 2px;
    }

    .dashboardPage,
    .todoPage,
    .weatherPage,
    .profilePage {
        width: 80%
    }

    .dashboardApp {
        gap: 1.5rem;
    }

    .analogClock {
        width: 450px
    }

    .clock__number {
        inset: 20px;
    }

    .dashboardPage__message {
        font-size: 2.5rem;
    }

    .dashboardPage__currentDate {
        font-size: 1.5rem;
    }

    .todoListWrapper__header,
    .doneListWrapper__header {
        font-size: 1.25rem;
    }

    .todoList,
    .doneList {
        max-height: 450px;
    }

    .todoList__todoCheckIcon,
    .todoList__todoEditIcon,
    .todoList__todoDeleteIcon,
    .taskInputWrapper__btn,
    .doneList__restoreIcon,
    .doneList__deleteIcon {
        font-size: 20px;
    }

    .weatherApp__weatherData {
        width: 45%;
    }

    .profilePage__renameLabel,
    .profilePage__avatarLabel,
    .profilePage__themeTitle {
        font-size: 1.5rem;
    }

    .profilePage__avatarImageQuestion {
        font-size: 1.25rem;
    }

    .profilePage__avatarUrlLabel {
        bottom: 30px;
    }








}

@media (min-width: 1024px)and (max-width: 1536px) {}



/* ------------------------    tablet    --------------------------- */
@media (min-width: 768px)and (max-width: 1024px) {
    .loginPage__loginPageFormTitles {
        font-size: 1.25rem;
    }

    .loginPage__loginPageInputName {
        width: 80%;
    }

    .menu {
        width: 25%;
    }

    .dashboardPage,
    .todoPage,
    .weatherPage,
    .profilePage {
        width: 75%;
    }

    .dashboardApp,
    .todoApp,
    .weatherApp,
    .profilePage__settingsForm {
        width: 100%;
        padding: 1rem;
        overflow: scroll;
    }

    .todoApp__header,
    .todoApp__innerContainer {
        width: 100%;
    }

    .todoApp__taskInput {
        padding: 10px 16px;
    }

    .todoApp__taskInput::placeholder {
        font-size: 1rem;
    }

    .todoList__todoItems,
    .doneList__doneItems {
        height: auto;
        padding: 1rem 6px;
        letter-spacing: 0px;
        border-radius: 6px;
    }

    .weatherApp__searchBoxWrapper {
        width: 95%;
    }

    .weatherApp__searchCityInput {
        padding: 10px 50px;
    }

    .weatherApp__searchCityInput::placeholder {
        font-size: 1rem;
    }

    .weatherApp__cityName,
    .weatherApp__locationIcon {
        font-size: 2rem;
    }

    .weatherApp__weatherData {
        width: 90%;
    }

    .weatherApp__windDirectionNumber,
    .weatherApp__windDirectionUnit,
    .weatherApp__dailyStatus,
    .weatherApp__windSpeedNumber,
    .weatherApp__windSpeedUnit {
        font-size: 1rem;
    }

    .profilePage__title {
        display: none;
    }

    .profilePage__UserSection {
        width: 100%;
        flex-direction: column-reverse;
    }

    .profilePage__userOptions,
    .profilePage__userData {
        width: 100%;
    }

    .profilePage__userOptions {
        padding: 0 2rem;
    }

    .profilePage__userData {
        flex-direction: row;
    }

    .profilePage__avatarFrame {
        width: 130px;
    }

    .profilePage__avatarImage {
        width: 120px;
    }

    .profilePage__usernameDisplay,
    .profilePage__userGenderIcon {
        font-size: 1.5rem;
    }




    .profilePage__renameLabel,
    .profilePage__avatarLabel,
    .profilePage__themeTitle {
        font-size: 1rem;
    }



}







@media only screen and (max-width: 600px) {





    .loginPage__welcomeMessage {
        /* font-size: ; */
    }

    .loginPage__welcomeMessage-small {
        /* font-size: ; */
    }

    .loginPage__welcomeMessage span {
        /* font-size: ; */
    }

}


@media only screen and (max-width: 600px) {





    .loginPage__welcomeMessage {
        /* font-size: ; */
    }

    .loginPage__welcomeMessage-small {
        /* font-size: ; */
    }

    .loginPage__welcomeMessage span {
        /* font-size: ; */
    }

}


@media only screen and (max-width: 600px) {





    .loginPage__welcomeMessage {
        /* font-size: ; */
    }

    .loginPage__welcomeMessage-small {
        /* font-size: ; */
    }

    .loginPage__welcomeMessage span {
        /* font-size: ; */
    }

}